/* Basic styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sofia", sans-serif;
  background: #f3f3f3;
  color: #333;
}

/* Header design */
#header-info {
  background: radial-gradient(
    closest-corner circle at 25% 10%,
    #ffcf33 0%,
    #ffcf33 20%,
    #ffff66 21%,
    #bbeeff 100%
  );
  border-radius: 10px;
  color: black;
  text-align: right;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#header-info h1,
#header-info h2 {
  margin: 0;
  padding: 10px;
}

#header-info h2 {
  font-size: 1.2em;
  color: #666;
}

#menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #bbeeff;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 5px;
}

#menu-bar a {
  display: block;
  color: #222;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

#menu-bar a:hover {
  display: block;
  background-color: #ffcf33;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1e8e8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ffcf33;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Carousel container */
.container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(-135deg, #ffcf33, #ffff66, #bbeeff);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 800px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#poem-container {
  flex: 1;
  text-align: center;
  padding: 10px;
}

button {
  background-color: #333;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0L4.247 6H0l3.753-6H8z' fill='%23284086'/%3E%3C/svg%3E");
  background-size: 8px 6px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover,
button:focus {
  background-color: #555;
  outline: none;
}

button:active {
  background-color: #777;
  transform: scale(0.98);
}

/* Poem styles */
.designPoetry {
  display: block;
  background: #ffcf33;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}

.designPoetry p {
  padding-left: 5px;
  text-align: left;
}

.poem-info {
  margin-top: 10px;
}

/* Footer design */
footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer a {
  color: #5c5555;
  text-decoration: none;
}
/* Larger touch targets and additional space on mobile */
@media only screen and (max-width: 700px) {
  #header-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #menu-bar {
    position: static;
    flex-direction: column;
    align-items: center;
  }

  .carousel {
    flex-direction: column;
    padding: 5px;
  }

  button {
    margin: 10px 0;
    padding: 5px 15px; /* Larger touch targets */
  }

  #poem-container {
    padding: 5px;
  }
}

/* Additional media queries for max-width 450px */
@media only screen and (max-width: 450px) {
  .designPoetry {
    font-size: 12px;
  }

  button {
    padding: 10px 20px; /* Even larger touch targets for smaller screens */
  }
}
