html {
  height: 100%;
  background: #f3f3f3;
  font-family: "Sofia";
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Design header */
#header-info {
  background: radial-gradient(
    closest-corner circle at 25% 10%,
    #ffcf33 0%,
    #ffcf33 20%,
    #ffff66 21%,
    #bbeeff 100%
  );
  border-radius: 10px;
  color: black;
  text-align: right;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#header-info h1 {
  margin: 20px;
}

h1 {
  font-size: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #938181;
  color: white;
  border-radius: 9px;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: yellow;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: rgb(168, 168, 28);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

li a.active {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Design content */
pre {
  font-size: x-large;
  font-family: "Sofia";
}
span {
  font-weight: bold;
  color: #e2dfdf;
  font-size: x-large;
}

.poezii {
  padding: 20px;
  margin: 20px;
  background-color: #56c6eb;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1), 0 2px 3px rgba(0, 0, 0, 1);
}

/* design Footer */
footer > div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
footer {
  background-color: grey;
  text-decoration: none;
}
footer a {
  color: white;
  text-decoration: none;
}
@media only screen and(max-width:450px) {
  .poezii {
    padding: 0;
    margin: 0;
  }
}
